body{
	background: white;
}

.container{
	border: 3px solid black;
	height: 75%;
	width: 50%;
	margin: auto;
	background: rgb(210, 210, 210);
}

.pageLabel h2{
	padding: 5px;
	margin: auto;
	text-align: center;
}

.pageLabel{
	border: 2px solid black;
	height: 5%;
	width: 75%;
	padding: 20px 40px;
	margin: auto;
	margin-top: 15px;
}

.form{
	padding: 20px 40px;
	margin: auto;
	margin-top: 15px;
}

.formControl{
	padding: 5px 5px;
}